:root {

    --primarySunny: #ffee77;
    --secondarySunny: #ffffaa;

    --primaryRainy: #aaaaee;
    --secondaryRainy: #ccccff;


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    list-style: none;
}

.title-box {
    width: 100%;
    
}