:root {

    --primarySunny: #ffee77;
    --secondarySunny: #ffffaa;
    --bgSunny: #ffffdd;

    --primaryRainy: #7a848d;
    --secondaryRainy: #ccccff;
    --bgRainy: #e4e4ff;

    --primaryCloudy: #7a848d;
    --secondaryCloudy: #dfe3e6;
    --bgCloudy: #f4f6f8;
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    list-style: none;
}

body {
    height: 80vh;
    width: 100%;
}

header {
    
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

#uv-red{
    background-color: red;
    border-radius: .25rem;
}

#uv-yellow {
    background-color: yellow;
    border-radius: .25rem;
}

#uv-green {
    background-color: greenyellow;
    border-radius: .25rem;
}


.rainy header {
    background-color: var(--primaryRainy);
}

.rainy main {
    background-color: var(--bgRainy);
}

.rainy .aside {
    background-color: var(--secondaryRainy);
}

.sunny header {
    background-color: var(--primarySunny);
}

.sunny main {
    background-color: var(--bgSunny);
}

.sunny .aside {
    background-color: var(--secondarySunny);
}

.cloudy header {
    background-color: var(--primaryCloudy);
}

.cloudy main {
    background-color: var(--bgCloudy);
}

.cloudy .aside {
    background-color: var(--secondaryCloudy);
}



.title-box {
    /* border: grey solid 1px; */
    border-radius: 1.5rem;
    background-color: white;
    padding: 1rem 3rem;
    text-align: end;
}

.big-title {
    font-size: 3rem;
}

.sub-title {
    font-size: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
}


.aside {
    flex:1 1 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2rem 1rem;
}

.content {
    flex: 1 1 75vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content .block-load {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content .block-load .loading {
    flex: 0 0 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.loading-text {
    
    font-size: 3rem;
}

.input {
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
}

.search-box {
    height: 2rem;
    width: 80%;
    flex: 1 1 80%;
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: white;
}

.input .submit-button {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    flex: 1 1 20%;
    margin-left: .5rem;
    border: 1px solid gray;
    border-radius: .25rem;
    background-color: white;
}

.loc-list li {
    margin: .5rem 0;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
}


.current-day {
    height: 70%;
    width: 100%;
    flex: 1 1 95%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card-lg {
    padding: 3rem;
    background-color: white;
    border-radius: 2rem;

    flex: 1 1 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.card-lg-data {
    /* flex: 1 1 100%;
    height: 100%; */
    /* padding: 3rem; */

    flex: 1 1 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    /* background-color: white; */
    /* border-radius: 2rem; */

}

.card-lg-img {
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-lg h3.date {
    font-size: 3rem;
    /* padding: 1rem 0; */
}

.card-lg-img img {
    width: 50%;
}

.card-lg .temperature {
    font-size: 6rem;
    padding: 2rem 0 1rem 0;
}

.h-l, .h-l span{
    font-size: 1.5rem;
}


.five-day {
    display: flex;
    width: 100%;
    flex: 1 1 95%;
    padding: 0 .25rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card {
    height: 95%;
    flex: 1 1 20%;
    margin: 0 .25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 2rem;


}

.logo {
    width: 3rem;
    margin-right: 1rem;
}

@media screen and (max-width: 1150px) {

main {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
}

.aside {
    padding: 1rem;
    flex: 1 1 auto;
}

.input {
    padding: 0 16.6%;
}

.search-box {
    min-width: 24rem;
}

.loc-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.loc-list li {
    display: inline-block;
    margin: .5rem 1.5rem;
}

.content .block-load {
    width: 100vw;
    min-height: 80vh;
    flex: 0 0 100vh;
}

.five-day .card{
    height: 100%;
}


}

@media screen and (max-width: 720px) {

.five-day {
    flex-wrap: wrap;
}

.five-day .card{
    flex: 1 1 80%;
    position: relative;
    display: block;
    margin-bottom: .5rem;
}

.five-day .card .weather-logo {
    position: absolute;
    right: 3rem;
    top: 0;
    
}



}